[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
bs4 = "*"
requests = "*"
keyring = "*"
boto3 = "*"
pylint = "*"
pyarrow = "*"
pandas = "*"
setuptools = "*"
scrape = {file = "."}
progressbar2 = "*"
supabase = "*"
sqlalchemy = "*"
python-dotenv = "*"
psycopg2-binary = "*"
pymupdf = "*"
pymupdf4llm = "*"
ocrmypdf = "*"
pytesseract = "*"
pypdf2 = "*"
pdf2image = "*"
pillow = "*"
selenium = "*"
webdriver-manager = "*"
markdownify = "*"
pymongo = "*"

[dev-packages]

[requires]
python_version = "3.12"
