[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
bs4 = "*"
requests = "*"
keyring = "*"
boto3 = "*"
pylint = "*"
pyarrow = "*"
pandas = "*"

[dev-packages]

[requires]
python_version = "3.12"
